*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:#F5F1E8;

font-family:Georgia, serif;

color:#4F5A3A;

overflow-x:hidden;

}

/* Loading Screen */

#loader{

position:fixed;

width:100%;

height:100%;

background:#F5F1E8;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:999;

transition:1s;

}

#loader h1{

font-size:48px;

letter-spacing:3px;

}

#loader p{

margin-top:20px;

font-style:italic;

color:#7A8662;

}

/* Hero */

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

background:linear-gradient(

rgba(245,241,232,.9),

rgba(245,241,232,.95)

);

}

.overlay{

max-width:400px;

}

.hero h1{

font-size:52px;

margin-bottom:25px;

letter-spacing:2px;

}

.hero p{

font-size:20px;

line-height:1.8;

}

.scroll{

margin-top:70px;

font-size:15px;

letter-spacing:4px;

animation:float 2s infinite;

}

/* Quote */

.quote{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

text-align:center;

font-size:30px;

font-style:italic;

line-height:1.8;

color:#5F6D45;

}

/* Animation */

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(12px);

}

100%{

transform:translateY(0);

}

}
